.titleManage{
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #642c2c;
}

.grafica{
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.container {
    width:750px;
    height: fit-content;
    background-color:rgb(255, 255, 255);
    margin: auto;
    border-left:2px solid #fff;
    border-right:2px solid #fff;
    text-align: center;
    margin-top: 10px;
    border: 2px solid #642c2c;
    color: #642c2c;
  }

.h2graf{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.searching{
    padding: 50px;
    text-align: center;
}

.preloader{
    margin-top: 120px;
  }
  
  .loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #89a6fb;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
  }
  .loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #4c629e;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  .loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #4c629e;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px){
    .container {
        width:500px;
        height: fit-content;
        background-color:rgb(255, 255, 255);
        margin: auto;
        border-left:2px solid #fff;
        border-right:2px solid #fff;
        text-align: center;
        margin-top: 10px;
        border: 2px solid #642c2c;
        color: #642c2c;
      }
      h3{
          font-size: 20px;
      }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px){
    .container {
        width:300px;
        height: fit-content;
        background-color:rgb(255, 255, 255);
        margin: auto;
        border-left:2px solid #fff;
        border-right:2px solid #fff;
        text-align: center;
        margin-top: 10px;
        border: 2px solid #642c2c;
        color: #642c2c;
      }

      h3{
        font-size: 18px;
    }
}