html{
    margin: 1.875rem;
    text-align: center;
    margin-bottom: 0.625rem;
}
.text{
    color: #642c2c;
    text-align: center;
}
.ipaq{
    border: #89a6fb 0.25rem solid;
    padding: 0.625rem;
    margin-top: 1.875rem;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    margin-bottom: 1.875rem;
}
.input-optionals{
    border: #89a6fb 0.125rem solid;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}
.btn{
    margin-bottom: 1.25rem;
}

.searching{
    padding: 120px;
    text-align: center;
    font-size: 25px;
  }
  
.preloader{
margin-top: 120px;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #89a6fb;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #4c629e;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #89a6fb;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
  @-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px){ /*valores por defecto*/
    body{
        font-size: 16px;
    }
    .ipaq p{
        font-size: 16px;
    }
    .ipaq{
        border: #89a6fb 0.25rem solid;
        padding: 0.125rem;
        margin-top: 1.25rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-bottom: 1.25rem;
    }
}

/*Large devices (desktops, 992px and up) */
@media (max-width: 992px){
    h1{
        font-size: 48px;
    }
    h4{
        font-size: 18px;
    }
    body{
        font-size: 15px;
    }
    .ipaq p{
        font-size: 15px;
    }
    .ipaq{
        border: #89a6fb 0.25rem solid;
        padding: 2px;
        margin-top: 0.625rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        margin-bottom: 0.625rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px){
    h1{
        font-size: 38px;
    }
    h4{
        font-size: 18px;
    }
    body{
        font-size: 14px;
    }
    .ipaq p{
        font-size: 14px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px){
    h1{
        font-size: 32px;
    }
    h4{
        font-size: 16px;
    }
    body{
        font-size: 12px;
    }
    .ipaq p{
        font-size: 12px;
    }
}