.btn:hover, .btnaside:hover{
  background-color: #b7ed7f;
}
.btnaside{
  background-color: #e4facb;
  height: 50px;
  width: auto;
  border-radius: 12px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(100, 44, 44);
  cursor: pointer;
  margin-bottom: 10px;
}
button{
  margin-top: 10px;
  margin-right: 10px;
}
section{
  margin-left: 40px;
  margin-right: 40px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px){
  .allrows{
      border: 2px solid #73AD21;
      margin:2.5rem;
      height: 40%;
      background-color: white;
  }
  tr td {
      font-size:0.625rem;
  }
  button{
    margin-top: 10px;
    margin-right: 0px;
    font-size: 12px;
  }
  .btnaside{
    background-color: #e4facb;
    height: 50px;
    width: auto;
    border-radius: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(100, 44, 44);
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px){
  tr td {
      font-size:8px;
  }
  button{
    margin-top: 10px;
    margin-right: -10px;
    font-size: 10px;
  }
  .btnaside{
    background-color: #e4facb;
    height: 50px;
    width: auto;
    border-radius: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(100, 44, 44);
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}