.titleManage{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #642c2c;
}

section{
  padding: 5%;
  margin-left: 40px;
  margin-right: 40px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px){
  .titleManage{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    color: #642c2c;
    font-size: 50px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px){
  .titleManage{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    color: #642c2c;
    font-size: 40px;
  }
}